<script type="text/javascript">
	RED.nodes.registerType("web-page", {
		name: { value: "web-page" },
		category: "web",
		color: "#CEC0DE",
		defaults: {
			name: { value: "" },
			app: { value: "", type: "web-app" },
			route: { value: "" },
			layout: { value: "" },
			slots: { value: [] },
			requestReceivedHook: { value: true },
			cachingAllowed: { value: true },
			actions: { value: [] },
			lastChange: { value: Date.now() },
			outputs: { value: 1 }
		},
		inputs: 0,
		outputs: 1,
		icon: function() {
			return "font-awesome/fa-file-text-o";
		},
		paletteLabel: "web-page",
		label: function() {
			if (this.name) {
				return this.name;
			} else if (this.route) {
				return this.route;
			} else {
				return "/";
			}
		},
		outputLabels: function(index) {
			let hookLabels = [];
			if (this.requestReceivedHook) hookLabels.push("Request received (hook)");

			if (index < hookLabels.length) return hookLabels[index];
			else return this.actions[index - hookLabels.length] + " (action)";
		},
		oneditprepare: function() {
			let node = this;
			let authTokens = RED.settings.get("auth-tokens");

			// Determine root for files lying in the projects root
			let root = "pekfinger-red";
			if ((project = RED.projects.getActiveProject())) {
				root = "projects/" + project.name + "/" + root
			}

			/*
			 * Layout
			 */
			let layoutSelect = $("#node-input-layout");
			let filenameInput = $("#node-input-filename");
			let editButton = $("#node-input-layout-edit");
			let deleteButton = $("#node-input-layout-delete");
			let addButton = $("#node-input-layout-add");
			let filenameRow = $("#node-input-filename-row");
			$(
				'<option value=""' + (node.layout === "" ? " selected" : "") + ">Use app's default layout</option>"
			).appendTo(layoutSelect);
			$(
				'<option value="_ADD_"' + (node.layout === "_ADD_" ? " selected" : "") + ">Add new layout...</option>"
			).appendTo(layoutSelect);
			$.getJSON({
				url: "/pekfinger-red/layouts?root=" + root,
				success: function(layouts) {
					layouts.forEach(function(filename) {
						$(
							'<option value="' +
								filename +
								'"' +
								(node.layout === filename ? " selected" : "") +
								">" +
								filename +
								"</option>"
						).appendTo(layoutSelect);
					});
				},
				headers: authTokens
					? {
							Authorization: "Bearer " + authTokens.access_token
					  }
					: {}
			});
			// Visbility
			function toggleLayoutVisibility() {
				let layout = $("#node-input-layout").val();
				if (layout === "_ADD_") {
					$("#node-input-layout-edit").toggle(false);
					$("#node-input-layout-delete").toggle(false);
					$("#node-input-filename-row").toggle(true);
				} else if (layout === "") {
					$("#node-input-layout-edit").toggle(false);
					$("#node-input-layout-delete").toggle(false);
					$("#node-input-filename-row").toggle(false);
				} else {
					$("#node-input-layout-edit").toggle(true);
					$("#node-input-layout-delete").toggle(true);
					$("#node-input-filename-row").toggle(false);
				}
			}
			$("#node-input-layout").val(node.layout);
			$("#node-input-layout").change(toggleLayoutVisibility);
			$("#node-input-layout").show(toggleLayoutVisibility);
			// Actions
			// a) Edit
			editButton.click(function(e) {
				e.preventDefault();
				let value = $("#node-input-layout").val();
				$.get({
					url: "/pekfinger-red/file?name=" + root + "/layouts/" + value + ".svelte",
					success: function(content) {
						let filename = $("#node-input-layout").val();
						RED.editor.editJavaScript({
							value: content,
							title: "Svelte Editor",
							width: "Infinity",
							mode: "ace/mode/html",
							complete: function(content) {
								// Save the content
								$.post({
									url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
									data: { content },
									headers: authTokens
										? {
												Authorization: "Bearer " + authTokens.access_token
										  }
										: {}
								});
								node.changed = true;
								RED.nodes.dirty(true);
							}
						});
					},
					headers: authTokens
						? {
								Authorization: "Bearer " + authTokens.access_token
						  }
						: {}
				});
			});
			// b) Delete
			deleteButton.click(function(e) {
				e.preventDefault();
				let filename = $("#node-input-layout").val();
				// Check if layout is used elsewhere
				let usedByApp = 0;
				let usedByPage = 0;
				RED.nodes.eachNode(thatNode => {
					if (thatNode.type === "web-page" && thatNode !== node) {
						if (thatNode.layout === filename) usedByPage++;
					}
				});
				RED.nodes.eachConfig(thatNode => {
					if (thatNode.type === "web-app" && thatNode !== node) {
						if (thatNode.layout === filename) usedByApp++;
					}
				});
				// Ask user before deleting
				let notification = RED.notify(
					"Are you sure you want to delete layout " +
						filename +
						"?" +
						(usedByPage > 0
							? "<br/>It is currently used by " +
							  usedByPage +
							  " other page" +
							  (usedByPage > 1 ? "s" : "") +
							  "."
							: "") +
						(usedByApp > 0
							? "<br/>It is currently used by " + usedByApp + " app" + (usedByApp > 1 ? "s" : "") + "."
							: "") +
						(usedByPage + usedByApp > 0
							? "<br/>Without further changes this " +
							  (usedByApp > 0 ? "will" : "might") +
							  " break your app."
							: ""),
					{
						modal: true,
						fixed: true,
						type: "warning",
						buttons: [
							{
								text: "Cancel",
								click: function(e) {
									notification.close();
								}
							},
							{
								text: "Okay",
								class: "primary",
								click: function(e) {
									$.ajax({
										url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
										type: "DELETE",
										success: function() {
											// Remove from select
											$("#node-input-layout option[value='" + filename + "']").remove();
											// Update visibility (first entry, which is _ADD_, will be selected automatically)
											toggleLayoutVisibility();
											notification.close();
										},
										headers: authTokens
											? {
													Authorization: "Bearer " + authTokens.access_token
											  }
											: {}
									});
								}
							}
						]
					}
				);
			});
			// c) Add
			addButton.click(function(e) {
				e.preventDefault();
				let filename = $("#node-input-filename").val();
				if (filename.trim().length === 0) {
					RED.notify("Invalid filename.");
					return;
				}
				$.ajax({
					url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
					type: "PUT",
					success: function(content) {
						RED.editor.editJavaScript({
							value: content,
							title: "Svelte Editor",
							width: "Infinity",
							mode: "ace/mode/html",
							complete: function(content) {
								// Save the content
								$.post({
									url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
									data: { content },
									headers: authTokens
										? {
												Authorization: "Bearer " + authTokens.access_token
										  }
										: {}
								});
								// Reset filename
								filenameInput.val("");
								// Update select
								layoutSelect.append(
									$('<option value="' + filename + '" selected">' + filename + "</option>")
								);
								layoutSelect.val(filename);
								// Update visibility
								editButton.toggle(true);
								deleteButton.toggle(true);
								filenameRow.toggle(false);
							}
						});
					},
					error: function(response) {
						RED.notify("Could not create layout.<br/>" + response.statusText);
					},
					headers: authTokens
						? {
								Authorization: "Bearer " + authTokens.access_token
						  }
						: {}
				});
			});

			/*
			 * Action-list
			 */
			$("#node-input-actions-container")
				.css("min-height", "300px")
				.css("min-width", "450px")
				.editableList({
					addItem: function(container, i, item) {
						// Prepare container layout
						container.css({
							overflow: "hidden",
							whiteSpace: "nowrap"
						});
						// Define default action-name
						if (typeof item === "object") {
							item = "Action " + $("#node-input-actions-container").editableList("length");
						}
						// Add task
						let task = $("<input/>", {
							class: "node-input-action",
							type: "text",
							placeholder: "Action name"
						}).appendTo(container);
						task.val(item);
					},
					removable: true,
					sortable: true
				});
			// Fill action-list on start
			for (let i = 0; i < this.actions.length; i++) {
				let action = this.actions[i];
				$("#node-input-actions-container").editableList("addItem", action);
			}

			/*
			 * Slots
			 */
			// Read components first
			$.getJSON({
				url: "/pekfinger-red/components?root=" + root,
				success: function(components) {
					let componentSelects = [];
					$("#node-input-slots-container")
						.css("min-height", "300px")
						.css("min-width", "450px")
						.editableList({
							addItem: function(container, i, opt) {
								let entry = opt;
								if (!entry.hasOwnProperty("type")) {
									entry = {
										type: "component",
										name: "",
										component: "_ADD_",
										code:
											"<!-- One time component -->\n<script>\n\texport let client, server, data\n<" +
											"/script>",
										data: "msg.payload"
									};
								}
								// Prepare container layout
								container.css({
									overflow: "hidden",
									whiteSpace: "nowrap"
								});
								let div = $("<div/>")
									.css({
										width: "100%",
										display: "flex",
										alignItems: "center"
									})
									.appendTo(container);

								/*
								 * Slot
								 */
								let slotWrap = $("<div/>", {
									class: "node-input-slots-slot-wrap",
									style: "width: calc(70% - 120px)"
								}).appendTo(div);
								let slot = $("<input/>", {
									class: "node-input-slots-slot",
									type: "text",
									style: "width: 100%",
									placeholder: "default"
								}).appendTo(slotWrap);
								slot.val(entry.name);

								/*
								 * Component
								 */
								let id = Date.now();
								let contentWrap = $("<div/>", {
									class: "node-input-slots-content-wrap",
									style: "width: 100%"
								}).appendTo(div);
								let typeWrap = $("<div/>").appendTo(contentWrap);
								let typeSelect = $("<input/>", {
									id: "componentType-" + id,
									class: "node-input-slots-type",
									type: "text",
									style: "width: 70%; margin-left: 10px; margin-right: 10px"
								}).appendTo(typeWrap);
								typeSelect.typedInput({
									types: [
										{
											value: "component",
											label: "Component",
											hasValue: false
										},
										{
											value: "code",
											label: "Code",
											hasValue: false
										}
									]
								});
								typeSelect.typedInput("type", entry.type);

								/* a) 1) Component */
								let componentWrap = $("<div/>").appendTo(contentWrap);
								let componentSelect = $("<select/>", {
									id: "component-" + id,
									class: "node-input-slots-component",
									type: "text",
									style:
										"width: 70%; margin-left: 10px; margin-right: 10px; margin-top: 6px; margin-bottom: 6px;"
								}).appendTo(componentWrap);
								$(
									'<option value="_ADD_"' +
										(entry.component === "_ADD_" ? " selected" : "") +
										">Add new component...</option>"
								).appendTo(componentSelect);
								components.forEach(function(filename) {
									$(
										'<option value="' +
											filename +
											'"' +
											(entry.component === filename ? " selected" : "") +
											">" +
											filename +
											"</option>"
									).appendTo(componentSelect);
								});
								componentSelects.push(componentSelect);
								// Add edit-button
								let componentEditButton = $(
									'<a id="component-button-' +
										id +
										'" class="editor-button"><i class="fa fa-pencil"></i></a>'
								).appendTo(componentWrap);
								componentEditButton.click(function(e) {
									e.preventDefault();
									let value = $("#component-" + id).val();
									$.get({
										url: "/pekfinger-red/file?name=" + root + "/components/" + value + ".svelte",
										success: function(content) {
											let filename = $("#component-" + id).val();
											RED.editor.editJavaScript({
												value: content,
												title: "Svelte Editor",
												width: "Infinity",
												mode: "ace/mode/html",
												complete: function(content) {
													// Save the content
													$.post({
														url:
															"/pekfinger-red/file?name=" +
															root +
															"/components/" +
															filename +
															".svelte",
														data: { content },
														headers: authTokens
															? {
																	Authorization: "Bearer " + authTokens.access_token
															  }
															: {}
													});
													node.changed = true;
													RED.nodes.dirty(true);
												}
											});
										},
										headers: authTokens
											? {
													Authorization: "Bearer " + authTokens.access_token
											  }
											: {}
									});
								});
								// Add delete-button
								let componentDeleteButton = $(
									'<a id="component-button-' +
										id +
										'" class="editor-button"><i class="fa fa-trash-o"></i></a>'
								).appendTo(componentWrap);
								componentDeleteButton.click(function(e) {
									e.preventDefault();
									let filename = $("#component-" + id).val();
									// Check if component is used elsewhere
									let count = 0;
									RED.nodes.eachNode(thatNode => {
										let used = false;
										if (thatNode.type === "web-page" && thatNode !== node) {
											thatNode.slots.forEach(slot => {
												if (slot.component === filename) {
													used = true;
												}
											});
											if (used) count++;
										}
									});
									// Ask user before deleting
									let notification = RED.notify(
										"Are you sure you want to delete component " +
											filename +
											"?" +
											(count > 0
												? "<br/>It is currently used by " +
												  count +
												  " other page" +
												  (count > 1 ? "s" : "") +
												  "."
												: "") +
											(count > 0
												? "<br/>Without further changes this means breaking your app."
												: ""),
										{
											modal: true,
											fixed: true,
											type: "warning",
											buttons: [
												{
													text: "Cancel",
													click: function(e) {
														notification.close();
													}
												},
												{
													text: "Okay",
													class: "primary",
													click: function(e) {
														$.ajax({
															url:
																"/pekfinger-red/file?name=" +
																root +
																"/components/" +
																filename +
																".svelte",
															type: "DELETE",
															success: function() {
																// Remove from all selects
																$(
																	".node-input-slots-component option[value='" +
																		filename +
																		"']"
																).remove();
																// Update visibility (first entry, which is _ADD_, will be selected automatically)
																newWrap.toggle(true);
																componentEditButton.toggle(false);
																componentDeleteButton.toggle(false);
																dataWrap.toggle(false);
																notification.close();
															},
															headers: authTokens
																? {
																		Authorization:
																			"Bearer " + authTokens.access_token
																  }
																: {}
														});
													}
												}
											]
										}
									);
								});

								/* a) 2) Create new component */
								let newWrap = $("<div/>").appendTo(contentWrap);
								let newComponentInput = $("<input/>", {
									id: "new-component-" + id,
									class: "node-input-slots-new-component",
									type: "text",
									placeholder: "component name",
									style: "width: 70%; margin-left: 10px; margin-right: 10px;"
								}).appendTo(newWrap);
								// Add edit-button
								let newComponentEditButton = $(
									'<a id="component-button-' +
										id +
										'" class="editor-button"><i class="fa fa-plus"></i></a>'
								).appendTo(newWrap);
								newComponentEditButton.click(function(e) {
									e.preventDefault();
									let filename = $("#new-component-" + id).val();
									if (filename.trim().length === 0) {
										RED.notify("Invalid filename.");
										return;
									}
									$.ajax({
										url: "/pekfinger-red/file?name=" + root + "/components/" + filename + ".svelte",
										type: "PUT",
										success: function(content) {
											RED.editor.editJavaScript({
												value: content,
												title: "Svelte Editor",
												width: "Infinity",
												mode: "ace/mode/html",
												complete: function(content) {
													// Save the content
													$.post({
														url:
															"/pekfinger-red/file?name=" +
															root +
															"/components/" +
															filename +
															".svelte",
														data: { content },
														headers: authTokens
															? {
																	Authorization: "Bearer " + authTokens.access_token
															  }
															: {}
													});
													// Change input to newly created component
													typeSelect.typedInput("type", "component");
													newComponentInput.val("");
													// Update select
													componentSelects.forEach(select => {
														select.append(
															$(
																'<option value="' +
																	filename +
																	'"' +
																	(select === componentSelect ? " selected" : "") +
																	">" +
																	filename +
																	"</option>"
															)
														);
													});
													// Update visibility
													newWrap.toggle(false);
													componentEditButton.toggle(true);
													componentDeleteButton.toggle(true);
													dataWrap.toggle(true);
												}
											});
										},
										error: function(response) {
											RED.notify("Could not create component.<br/>" + response.statusText);
										},
										headers: authTokens
											? {
													Authorization: "Bearer " + authTokens.access_token
											  }
											: {}
									});
								});

								/* b) Code */
								let codeWrap = $("<div/>").appendTo(contentWrap);
								let code = $(
									'<textarea rows="1" class="node-input-slots-code"' +
										(entry.type !== "code" ? " hidden" : "") +
										' disabled style="resize: none; width: 70%; margin-left: 10px; margin-right: 10px; margin-top: 6px; margin-bottom: 6px;" placeholder="svelte template-code"><textarea/>'
								).appendTo(codeWrap);
								code.val(entry.code);
								// Add edit-button
								let codeEditButton = $(
									'<a id="code-button-' +
										id +
										'" class="editor-button" style="margin-top: 6px"><i class="fa fa-pencil"></i></a>'
								).appendTo(codeWrap);
								codeEditButton.click(function(e) {
									e.preventDefault();
									RED.editor.editJavaScript({
										value: code.val(),
										title: "Svelte Editor",
										width: "Infinity",
										mode: "ace/mode/html",
										complete: function(content, cursor) {
											code.val(content);
										}
									});
								});

								/* General: data */
								let dataWrap = $('<div style="margin-bottom: 1px"/>').appendTo(contentWrap);
								let data = $("<input/>", {
									class: "node-input-slots-data",
									type: "text",
									style: "width: 70%; margin-left: 10px; margin-top: 6px",
									placeholder: "the component's data"
								})
									.appendTo(dataWrap)
									.typedInput({ types: ["jsonata"] });
								data.typedInput("value", entry.data);

								/* Take care of visibility */
								function toggleComponentVisibility() {
									let component = $("#component-" + id).val();
									if (component === "_ADD_") {
										newWrap.toggle(true);
										componentEditButton.toggle(false);
										componentDeleteButton.toggle(false);
										dataWrap.toggle(false);
									} else {
										newWrap.toggle(false);
										componentEditButton.toggle(true);
										componentDeleteButton.toggle(true);
										dataWrap.toggle(true);
									}
								}
								function toggleVisibility() {
									let type = $("#componentType-" + id).typedInput("type");
									if (type === "component") {
										componentWrap.toggle(true);
										codeWrap.toggle(false);
										toggleComponentVisibility();
									} else if (type === "code") {
										codeWrap.toggle(true);
										dataWrap.toggle(true);
										componentWrap.toggle(false);
										newWrap.toggle(false);
									}
								}
								$("#componentType-" + id).change(toggleVisibility);
								$("#component-" + id).change(toggleComponentVisibility);
								contentWrap.show(toggleVisibility);
							},
							removable: true,
							sortable: true
						});
					// Fill list on start
					for (let i = 0; i < node.slots.length; i++) {
						let slot = node.slots[i];
						$("#node-input-slots-container").editableList("addItem", slot);
					}
				},
				headers: authTokens
					? {
							Authorization: "Bearer " + authTokens.access_token
					  }
					: {}
			});
		},
		oneditsave: function() {
			let node = this;

			// Action-list
			node.actions = [];
			$("#node-input-actions-container")
				.editableList("items")
				.each(function(n) {
					let action = $(this)
						.find(".node-input-action")
						.val();
					node.actions.push(action);
				});

			// Calculate number of outputs
			node.outputs = node.actions.length;
			if ($("#node-input-requestReceivedHook").is(":checked")) node.outputs += 1;

			// Slots
			node.slots = [];
			let components = [];
			$("#node-input-slots-container")
				.editableList("items")
				.each(function(n) {
					let entry = $(this);
					let slot = {
						type: entry.find(".node-input-slots-type").typedInput("type"),
						name: entry.find(".node-input-slots-slot").val(),
						component: entry.find(".node-input-slots-component").val(),
						code: entry.find(".node-input-slots-code").val(),
						data: entry.find(".node-input-slots-data").typedInput("value")
					};
					if (slot.type === "component") {
						components.push(slot.component);
					} else {
						// Prevent dead references
						slot.component = "";
					}
					node.slots.push(slot);
				});

			// Set edit timestamp
			this.lastChange = Date.now()
		}
	});
</script>

<script type="text/x-red" data-template-name="web-page">
	<div class="form-row">
	    <label for="node-input-name">Name</label>
	    <input type="text" id="node-input-name" placeholder="Name">
	</div>

	<!-- App -->
	<div class="form-row">
	    <label for="node-input-app">App</label>
	    <input type="text" id="node-input-app">
	</div>

	<!-- Route -->
	<div class="form-row">
	    <label for="node-input-route">Route</label>
	    <input type="text" id="node-input-route" placeholder='(default: "/")'>
	</div>

	<!-- requestReceivedHook -->
	<div class="form-row node-input-requestReceivedHook">
	    <input type="checkbox" id="node-input-requestReceivedHook" style="display: inline-block; width: auto; vertical-align: top; margin-right: 6px;">
	    <label for="node-input-requestReceivedHook" style="width: auto">Intercept requests</label>
	</div>

	<!-- caching allowed? -->
	<div class="form-row node-input-cachingAllowed">
	    <input type="checkbox" id="node-input-cachingAllowed" style="display: inline-block; width: auto; vertical-align: top; margin-right: 6px;">
	    <label for="node-input-cachingAllowed" style="width: auto">Allow caching</label>
	</div>

	<!-- Layout -->
	<div class="form-row">
	    <label for="node-input-layout">Layout</label>
	    <div style="display: inline-block; position: relative; width: 70%; height: 20px;">
	        <div style="position: absolute; left: 0px; right: 72px;"">
	            <select type="text" id="node-input-layout" style="width: 100%;" />
	        </div>
	        <a id="node-input-layout-edit" class="red-ui-button" style="position: absolute; right: 32px; top: 0px;"><i class="fa fa-pencil"></i></a>
	        <a id="node-input-layout-delete" class="red-ui-button" style="position: absolute; right: 0px; top: 0px;"><i class="fa fa-trash-o"></i></a>
	    </div>
	</div>
	<div id="node-input-filename-row" class="form-row">
	    <label for="node-input-filename"></label>
	    <div style="display: inline-block; position: relative; width: 70%; height: 20px;">
	        <div style="position: absolute; left: 0px; right: 72px;"">
	            <input type="text" id="node-input-filename" placeholder="layout name" style="width: 100%;" />
	        </div>
	        <a id="node-input-layout-add" class="red-ui-button" style="position: absolute; right: 32px; top: 0px;"><i class="fa fa-plus"></i></a>
	    </div>
	</div>

	<!-- Slots -->
	<div class="node-row-slots">
	    <label for="node-input-slots-container"><i class="fa fa-list"></i> Slot - Component</label>
	    <div class="form-row node-input-slots-container-row">
	        <ol id=node-input-slots-container></ol>
	    </div>
	</div>

	<!-- The action-list -->
	<div class="node-row-actions">
	    <label for="node-input-actions-container"><i class="fa fa-list"></i> Actions </label>
	    <div class="form-row node-input-actions-container-row">
	        <ol id="node-input-actions-container"></ol>
	    </div>
	</div>
</script>

<script type="text/x-red" data-help-name="web-page">
	<p>The web-page node defines a single page of your App.</p>
	<p>It further is the gateway between the client and server. Any action that gets defined and that is defined for a page and triggered from the client ends in a <code>msg</code> released on the corresponding output-port.</p>
	<p>A page has a layout and several components that make up the page itself. The content is rendered through Svelte.</p>
	<p>Components can either be one-time-components or reusable components. The latter get saved on disk.</p>
	<p>Each component might get specific data to be rendered. Which is defined by a Jsonata-expression. If the expression results in a object with an Array-property named <code>#each</code>, the component gets rendered for each of the Array's properties. This allows to quickly create lists.</p>
  <p>More documentation will (hopefully) follow.</p>
  <p>The shown requests are presented as node status as followed: <i>SSR page requests / dom bundle requests / data requests / action requests</i></p>
</script>
