<script type="text/javascript">
  RED.nodes.registerType('web-client', {
    name: { value: "response" },
    category: 'web',
    color: '#CEC0DE',
    defaults: {
      name: { value: "" },
      returnType: { value: "send", required: true },
      url: { value: "" },
      statusCode: { value: 200, required: false, validate: RED.validators.number() },
      actionType: { value: "" },
      actionOptions: { value: "$merge([options, {\n\t/* Add properties here to merge them with the options from the request. */\n}])" },
      continueAfterAction: { value: false },
      sendPayload: { value: false },
      outputs: { value: 0 }
    },
    inputs: 1,
    outputs: 0,
    icon: function () {
      if (this.returnType === "end") {
        return "font-awesome/fa-ban";
      } else if (this.returnType === "redirect") {
        return "font-awesome/fa-mail-forward";
      } else if (this.returnType === "action") {
        return "font-awesome/fa-bolt";
      } else {
        return "font-awesome/fa-check";
      }
    },
    paletteLabel: "response",
    label: function () {
      return this.name || this.returnType;
    },
    outputLabels: function (index) {
      return this.actions[index];
    },
    oneditprepare: function () {
      let node = this;

      // Make the action's options a JSON input
      $("#node-input-actionOptions").typedInput({
        default: 'jsonata',
        typeField: $("#node-input-actionOptions_type"),
        types: ['jsonata']
      });

      let initialized = false;

      // Show input fields dependend on return-type
      $("#node-input-returnType").change(function () {
        let returnType = $(this).val();
        let showUrl = (returnType === "redirect");
        let showStatusCode = (returnType === "send" || returnType === "end" || returnType === "redirect");
        let showSendPayload = returnType === "redirect";
        let showAction = returnType === "action";
        $("#row-statusCode").toggle(showStatusCode);
        $("#row-url").toggle(showUrl);
        $("#row-actionType").toggle(showAction);
        $("#row-actionOptions").toggle(showAction);
        $("#row-continueAfterAction").toggle(showAction);
        $("#row-sendPayload").toggle(showSendPayload);
        // Set default for status code if this is NOT the first time the editor opens (thus on change only)
        if (initialized) {
          let statusCodeInput = $("#node-input-statusCode");
          if (showUrl) statusCodeInput.val(303);
          else if (returnType === "end") statusCodeInput.val(404);
          else statusCodeInput.val(200);
        } else {
          // Now we are initialized :)
          initialized = true;
        }
      });

    },
    oneditsave: function () {
      // Calculate number of outputs
      if ($("#node-input-returnType").val() === "action" && $("#node-input-continueAfterAction").is(':checked')) this.outputs = 1;
      else this.outputs = 0;
    }
  });
</script>

<script type="text/x-red" data-template-name="web-client">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <!-- The return type -->
    <div class="form-row">
        <label for="node-input-returnType"><i class="icon-play"></i> Mode</label>
        <select id="node-input-returnType">
            <option value="send">Send (sends page / data to client)</option>
            <option value="end">End (immediately ends the request)</option>
            <option value="redirect">Redirect (goes to the specified URL)</option>
            <option value="action">Action (calls the specified client-action)</option>
        </select>
    </div>

    <!-- Status code -->
    <div class="form-row" id="row-statusCode">
        <label for="node-input-statusCode"><i class="icon-tag"></i> Status code</label>
        <input type="number" id="node-input-statusCode">
    </div>

    <!-- URL -->
    <div class="form-row" id="row-url">
        <label for="node-input-url"><i class="icon-tag"></i> URL</label>
        <input type="text" id="node-input-url" placeholder="relative or absolute URL">
    </div>

    <!-- Send payload -->
    <div class="form-row" id="row-sendPayload">
      <input type="checkbox" id="node-input-sendPayload" style="display: inline-block; width: auto; vertical-align: top; margin-right: 5px;">
      <label for="node-input-sendPayload" style="width: auto">Send msg.payload as data</label>
    </div>

    <!-- Action Type -->
    <div class="form-row" id="row-actionType">
        <label for="node-input-actionType"><i class="icon-tag"></i> Action</label>
        <input type="text" id="node-input-actionType" placeholder="The client-action to be triggered">
    </div>

    <!-- Action Options -->
    <div class="form-row" id="row-actionOptions">
        <label for="node-input-actionOptions"><i class="icon-tag"></i> Options</label>
        <input type="text" id="node-input-actionOptions">
        <input type="hidden" id="node-input-actionOptions_type">
    </div>

    <!-- Continue flow after action -->
    <div class="form-row node-input-continueAfterAction" id="row-continueAfterAction">
        <input type="checkbox" id="node-input-continueAfterAction" style="display: inline-block; width: auto; vertical-align: top; margin-right: 5px;">
        <label for="node-input-continueAfterAction" style="width: auto">Continue with flow after the action has been triggered</label>
    </div>
</script>

<script type="text/x-red" data-help-name="web-client">
  <p>The web-client node gives control back to the client respectively controls it. Every request from the client (hook output) must end in a client-node, though it is optional for actions (action output). If it doesn't the request will time out.</p>
  <p>It must stem from a web-page node in order to function correctly.</p>
  <p>Client nodes run in a specific mode which defines how a request / action will be handled.</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>payload
        <span class="property-type">any</span>
    </dt>
    <dd> the payload gets send to the client in <code>Send</code>, <code>Redirect</code> (if checkbox <code>Send payload</code> is checked) and <code>Action</code> mode.</dd>
    <dt class="optional">options <span class="property-type">object</span></dt>
    <dd> options that get sent to the client if it runs in <code>Action</code> mode.</dd>
  </dl>
  <h3>Outputs</h3>
  <ol class="node-ports">
      <li class="optional">Standard output
          <dl class="message-properties">
              <dt>msg <span class="property-type">object</span></dt>
              <dd>The whole <code>msg</code>-object gets returned in case <i>Continue with flow</i> is checked (in <code>Action</code> mode). This allowes to trigger several actions on the client.</dd>
          </dl>
      </li>
  </ol>
  <h3>Modes</h3>
  <dl class="message-properties">
      <dt>Send</dt>
      <dd> This mode can only be used when answering an initial request. The page then gets rendered using the payload and the result gets sent to the client.</dd>
      <dt>End</dt>
      <dd> This ends the request immediately. It will be ignored when answering to an action (a warning is printed).</dd>
      <dt>Redirect</dt>
      <dd> Redirects to another page (internal or external). Works for both requests and actions.</dd>
      <dt>Action</dt>
      <dd> Runs an action on the client. The payload defines the action's data, optionally an options-object can be provided. Actions need an established connection to the client and thus can in turn only be triggered from within a client-triggered action-flow. Anyway - if such a msg is used as a starting point, the answer might be triggered at any point of time (while the client is still connected).</dd>
  </dl>
</script>