<script type="text/javascript">
RED.nodes.registerType('web-content', {
  name: { value: "web-content" },
  category: 'web',
  color: '#CEC0DE',
  defaults: {
    name: { value: "" },
    projectHome: { value: "" },
    app: { value: "", type: "web-app" },
    route: { value: "", required: true },
    contentType: { value: "path", required: true },
    content: { value: "" },
    requestReceivedHook: { value: true },
    cachingAllowed: { value: true },
    outputs: { value: 1 }
  },
  inputs: 0,
  outputs: 1,
  icon: function () {
    return "font-awesome/fa-file-text";
  },
  paletteLabel: "web-content",
  label: function () {
    if (this.name) {
      return this.name
    } else if (this.route.trim()) {
      return this.route
    } else {
      return "web-content"
    }
  },
  outputLabels: "Request received (hook)",
  oneditprepare: function () {
    let node = this

    // Determine root for files lying in the projects root
    node.projectHome = ""
    if (project = RED.projects.getActiveProject()) {
      node.projectHome = "projects/" + project.name;
    }
    
    // Type-selector (path, msg.filename, msg.payload)
    let contentInput = $('#node-input-content').typedInput({
      types: [{
        value: "path",
        label: "Path",
        hasValue: true
      },
      {
        value: "msg.filename",
        label: "msg.filename (dynamic path)",
        hasValue: false
      },
      {
        value: "msg.payload",
        label: "msg.payload (dynamic content)",
        hasValue: false
      }],
      typeField: "#node-input-contentType"
    })
    // (Un-) protect requestReceivedHook
    contentInput.change(function() {
      let contentType = $(this).typedInput('type')
      if (contentType !== 'path') {
        $("#node-input-requestReceivedHook").prop("checked", true)
        $("#node-input-requestReceivedHook").attr("disabled", true)
      } else {
        $("#node-input-requestReceivedHook").removeAttr("disabled")
      }
    })
  },
  oneditsave: function () {
    let node = this;

    // Calculate number of outputs
    if ($("#node-input-requestReceivedHook").is(':checked')) {
      node.outputs = 1}
    else {
      node.outputs = 0
    }
  }
});
</script>

<script type="text/x-red" data-template-name="web-content">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <!-- App -->
    <div class="form-row">
        <label for="node-input-app">App</label>
        <input type="text" id="node-input-app">
    </div>

    <!-- Route -->
    <div class="form-row">
        <label for="node-input-route">Route</label>
        <input type="text" id="node-input-route" placeholder='(path relative to the app's base-route)'>
    </div>

    <!-- Content -->
    <div class="form-row">
        <label for="node-input-content">Content</label>
        <input type="text" id="node-input-content">
        <input type="hidden" id="node-input-contentType">
    </div>

    <!-- requestReceivedHook -->
    <div class="form-row node-input-requestReceivedHook">
        <input type="checkbox" id="node-input-requestReceivedHook" style="display: inline-block; width: auto; vertical-align: top; margin-right: 6px;">
        <label for="node-input-requestReceivedHook" style="width: auto">Intercept requests</label>
    </div>

    <!-- caching allowed? -->
    <div class="form-row node-input-cachingAllowed">
        <input type="checkbox" id="node-input-cachingAllowed" style="display: inline-block; width: auto; vertical-align: top; margin-right: 6px;">
        <label for="node-input-cachingAllowed" style="width: auto">Allow caching</label>
    </div>
</script>

<script type="text/x-red" data-help-name="web-content">
  <p>The web-content node serves - as it's name already suggests - (most times  static) content.</p>
  <p>The main difference to the web-page is that it does not render the content, though this could be achived by intercepting the request.</p>
  <p>This node knows different content types (=modes) which get described below.</p>
  <p>If the request gets intercepted, control is returned to the client using the <code>web-client</code> node. Supported modes for the <code>client</code> node are <code>Send</code>, <code>End</code> and <code>Redirect</code>.</p>
  <h3>Outputs</h3>
  <ol class="node-ports">
      <li class="optional">Standard output
          <dl class="message-properties">
              <dt>request <span class="property-type">object</span></dt>
              <dd>An object representing the request. It currently has the following properties: <code>url</code>, <code>parameters</code> and <code>query</code>.</dd>
              <dt>parameters <span class="property-type">object</span></dt>
              <dd>Any request parameters (same as <code>msg.request.parameters</code>) and query parameters.</dd>
              <dt>content_type <span class="property-type">string</span></dt>
              <dd>What kind of type this content is (see below).</dd>
              <dt>filename <span class="property-type">string</span></dt>
              <dd>The requested file in case this node has the type <code>path</code> or <code>msg.filename</code>.</dd>
          </dl>
      </li>
  </ol>
  <h3>Content types</h3>
  <dl class="message-properties">
      <dt>Path</dt>
      <dd> In this mode the node returns a file that is defined by <code>msg.path</code>. The path can contain placeholders (in the form of <code>{parameter_name}</code>) that get replaced by properties of <code>msg.parameters</code>.</dd>
      <dt>msg.filename</dt>
      <dd> <code>msg.filename</code> might be altered. It will then be used to load the file which gets returned to the client. The mime-type can be manually determined through <code>msg.content_type</code>.</dd>
      <dt>msg.payload</dt>
      <dd> The payload will get used as the file content. <code>msg.filename</code> can be overwritten so that the mime-type of the content gets determined correctly. Alternativley the mime-type can be manually determined through <code>msg.content_type</code>.</dd>
  </dl>
</script>