<script type="text/javascript">
  RED.nodes.registerType('web-app', {
    category: 'config',
    defaults: {
      name: { value: "" },
      shortName: { value: "" },
      description: { value: "" },
      version: { value: "1.0" },
      address: { value: "0.0.0.0", required: true },
      port: { value: 8080, required: true, validate: RED.validators.number() },
      tls: { value: false },
      privateKey: { value: "~/.node-red/server.key" },
      certificate: { value: "~/.node-red/server.cert" },
      baseroute: { value: "" },
      timeout: { value: 20000, required: true, validate: RED.validators.number() },
      sessionTTL: { value: 20000, required: true, validate: RED.validators.number() },
      layout: { value: "", required: true },
      themeColor: { value: "#ff3e00" },
      defaultLanguage: { value: '' },
      developmentMode: { value: true }
    },
    label: function () {
      if (this.name) {
        return this.name
      } else {
        return this.address + ":" + this.port
      }
    },
    oneditprepare: function () {
      let node = this
      let authTokens = RED.settings.get('auth-tokens')

      // Determine root for files lying in the projects root
      let root = "pekfinger-red"
      if (project = RED.projects.getActiveProject()) {
        root = "projects/" + project.name + "/" + root
      }

      /*
       * Layout
       */
      let layoutSelect = $('#node-config-input-layout')
      let filenameInput = $("#node-config-input-filename")
      let editButton = $("#node-config-input-layout-edit")
      let deleteButton = $("#node-config-input-layout-delete")
      let addButton = $("#node-config-input-layout-add")
      let filenameRow = $("#node-config-input-filename-row")
      $('<option value=""' + (node.layout === "" ? " selected" : "") + '>Add new layout...</option>').appendTo(layoutSelect)
      $.getJSON({
        url: "/pekfinger-red/layouts?root=" + root,
        success: function (layouts) {
          layouts.forEach(function (filename) {
              $('<option value="' + filename + '"' + (node.layout === filename ? " selected" : "") + '>' + filename + '</option>').appendTo(layoutSelect)
          })
        },
        headers: authTokens ? {
          "Authorization": "Bearer " + authTokens.access_token
        } : {}
      })
      // Visbility
      function toggleLayoutVisibility() {
        let layout = $("#node-config-input-layout").val()
        if (layout === "") {
          $("#node-config-input-layout-edit").toggle(false)
          $("#node-config-input-layout-delete").toggle(false)
          $("#node-config-input-filename-row").toggle(true)
        } else {
          $("#node-config-input-layout-edit").toggle(true)
          $("#node-config-input-layout-delete").toggle(true)
          $("#node-config-input-filename-row").toggle(false)
        }
      }
      $("#node-config-input-layout").val(node.layout)
      $("#node-config-input-layout").change(toggleLayoutVisibility)
      $("#node-config-input-layout").show(toggleLayoutVisibility)
      // Actions
      // a) Edit
      editButton.click(function (e) {
        e.preventDefault()
        let value = $("#node-config-input-layout").val()
        $.get({
          url: "/pekfinger-red/file?name=" + root + "/layouts/" + value + ".svelte",
          success: function (content) {
            let filename = $("#node-config-input-layout").val()
          RED.editor.editJavaScript({
            value: content,
            title: "Svelte Editor",
            width: "Infinity",
            mode: "ace/mode/html",
            complete: function (content) {
              // Save the content
                $.post({
                  url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
                  data: { content },
                  headers: authTokens ? {
                    "Authorization": "Bearer " + authTokens.access_token
                  } : {}
                })
                node.changed = true
                RED.nodes.dirty(true)
            }
            })
          },
          headers: authTokens ? {
            "Authorization": "Bearer " + authTokens.access_token
          } : {}
        })
      })
      // b) Delete
      deleteButton.click(function (e) {
        e.preventDefault()
        let filename = $("#node-config-input-layout").val()
        // Check if layout is used elsewhere
        let usedByApp = 0
        let usedByPage = 0
        RED.nodes.eachNode((thatNode) => {
          if (thatNode.type === "web-page" && thatNode !== node) {
            if (thatNode.layout === filename) usedByPage++
          }
        })
        RED.nodes.eachConfig((thatNode) => {
          if (thatNode.type === "web-app" && thatNode !== node) {
            if (thatNode.layout === filename) usedByApp++
          }
        })
        // Ask user before deleting
        let notification = RED.notify(
          "Are you sure you want to delete layout " + filename + "?"
          + (usedByPage > 0 ? "<br/>It is currently used by " + usedByPage + " other page" + (usedByPage > 1 ? 's' : '') + "." : "")
          + (usedByApp > 0 ? "<br/>It is currently used by " + usedByApp + " app" + (usedByApp > 1 ? 's' : '') + "." : "")
          + ((usedByPage + usedByApp) > 0 ? "<br/>Without further changes this " + (usedByPage > 0 ? "will" : "might") + " break your app." : ""),
          {
            modal: true,
            fixed: true,
            type: 'warning',
            buttons: [
              {
                text: "Cancel",
                click: function (e) {
                  notification.close()
                }
              },
              {
                text: "Okay",
                class: "primary",
                click: function (e) {
                  $.ajax({
                    url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
                    type: "DELETE",
                    success: function () {
                      // Remove from select
                      $("#node-config-input-layout option[value='" + filename + "']").remove()
                      // Update visibility (first entry, which is _ADD_, will be selected automatically)
                      toggleLayoutVisibility()
                      notification.close()
                    },
                    headers: authTokens ? {
                      "Authorization": "Bearer " + authTokens.access_token
                    } : {}
                  })
                }
              }
            ]
          }
        )
      })
      // c) Add
      addButton.click(function (e) {
        e.preventDefault()
        let filename = $("#node-config-input-filename").val()
        if (filename.trim().length === 0) {
          RED.notify("Invalid filename.")
          return
        }
        $.ajax({
          url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
          type: "PUT",
          success: function (content) {
            RED.editor.editJavaScript({
              value: content,
              title: "Svelte Editor",
              width: "Infinity",
              mode: "ace/mode/html",
              complete: function (content) {
                // Save the content
                $.post({
                  url: "/pekfinger-red/file?name=" + root + "/layouts/" + filename + ".svelte",
                  data: { content },
                  headers: authTokens ? {
                    "Authorization": "Bearer " + authTokens.access_token
                  } : {}
                })
                // Reset filename
                filenameInput.val("")
                // Update select
                layoutSelect.append(
                  $('<option value="' + filename + '" selected">' + filename + '</option>')
                )
                layoutSelect.val(filename)
                // Update visibility
                editButton.toggle(true)
                deleteButton.toggle(true)
                filenameRow.toggle(false)
              }
            })
          },
          error: function (response) {
            RED.notify("Could not create layout.<br/>" + response.statusText)
          },
          headers: authTokens ? {
            "Authorization": "Bearer " + authTokens.access_token
          } : {}
        })
      })

      /*
        * TLS
        */
      $("#node-config-input-tls").change(function () {
        // TODO Toggle between port 80 and 443 if not manually changed
        let enabled = $(this).is(':checked')
        if (enabled) {
          $("#node-config-input-row-privateKey").toggle(true)
          $("#node-config-input-row-certificate").toggle(true)
        } else {
          $("#node-config-input-row-privateKey").toggle(false)
          $("#node-config-input-row-certificate").toggle(false)
        }
      })
    }
  })
</script>

<script type="text/x-red" data-template-name="web-app">
    <div class="form-row">
        <label for="node-config-input-name">Name</label>
        <input type="text" id="node-config-input-name" placeholder="Name">
    </div>

    <!-- Short name -->
    <div class="form-row">
        <label for="node-config-input-shortName">Short name</label>
        <input type="text" id="node-config-input-shortName" placeholder="Short name of the application">
    </div>

    <!-- Description -->
    <div class="form-row">
        <label for="node-config-input-description">Description</label>
        <input type="text" id="node-config-input-description" placeholder="Short description of the application">
    </div>

    <!-- Version -->
    <div class="form-row">
        <label for="node-config-input-version">Version</label>
        <input type="text" id="node-config-input-version" placeholder="Application version">
    </div>

    <!-- Address -->
    <div class="form-row">
        <label for="node-config-input-address">Address</label>
        <input type="text" id="node-config-input-address" placeholder="Address (default: 0.0.0.0)">
    </div>

    <!-- Port -->
    <div class="form-row">
        <label for="node-config-input-port">Port</label>
        <input type="text" id="node-config-input-port" placeholder="Port">
    </div>

    <!-- TLS -->
    <div class="form-row node-config-input-tls">
        <input type="checkbox" id="node-config-input-tls" style="display: inline-block; width: auto; vertical-align: top; margin-right: 6px">
        <label for="node-config-input-tls" style="width: auto">Enable TLS encryption</label>
    </div>

    <!-- Private Key -->
    <div class="form-row" id="node-config-input-row-privateKey">
        <label for="node-config-input-privateKey">Private Key</label>
        <input type="text" id="node-config-input-privateKey" placeholder="Path to the private key file">
    </div>

    <!-- Certificate -->
    <div class="form-row" id="node-config-input-row-certificate">
        <label for="node-config-input-certificate">Certificate</label>
        <input type="text" id="node-config-input-certificate" placeholder="Path to the certificate file">
    </div>

    <!-- Base Route -->
    <div class="form-row">
        <label for="node-config-input-baseroute">Base Route</label>
        <input type="text" id="node-config-input-baseroute" placeholder='(default: "/")'>
    </div>

    <!-- Default timeout -->
    <div class="form-row">
        <label for="node-config-input-timeout">Default timeout</label>
        <input type="number" id="node-config-input-timeout" placeholder='timeout in milliseconds'>
    </div>

    <!-- Session TTL -->
    <div class="form-row">
        <label for="node-config-input-sessionTTL">Session TTL</label>
        <input type="number" id="node-config-input-sessionTTL" placeholder='time to live in milliseconds'>
    </div>

    <!-- (Default) Layout -->
    <div class="form-row">
        <label for="node-config-input-layout">Layout</label>
        <div style="display: inline-block; position: relative; width: 70%; height: 20px;">
            <div style="position: absolute; left: 0px; right: 72px;"">
                <select type="text" id="node-config-input-layout" style="width: 100%;" />
            </div>
            <a id="node-config-input-layout-edit" class="red-ui-button" style="position: absolute; right: 32px; top: 0px;"><i class="fa fa-pencil"></i></a>
            <a id="node-config-input-layout-delete" class="red-ui-button" style="position: absolute; right: 0px; top: 0px;"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
    <div id="node-config-input-filename-row" class="form-row">
        <label for="node-config-input-filename"></label>
        <div style="display: inline-block; position: relative; width: 70%; height: 20px;">
            <div style="position: absolute; left: 0px; right: 72px;"">
                <input type="text" id="node-config-input-filename" placeholder="layout name" style="width: 100%;" />
            </div>
            <a id="node-config-input-layout-add" class="red-ui-button" style="position: absolute; right: 32px; top: 0px;"><i class="fa fa-plus"></i></a>
        </div>
    </div>

    <!-- Theme color -->
    <div class="form-row">
        <label for="node-config-input-themeColor">Theme color</label>
        <input type="text" id="node-config-input-themeColor" placeholder="Hex value of theme color">
    </div>

    <!-- Default language -->
    <div class="form-row">
        <label for="node-config-input-defaultLanguage">Default lang</label>
        <input type="text" id="node-config-input-defaultLanguage" placeholder="language tag (e.g. 'en')">
    </div>

    <!-- dev mode -->
    <div class="form-row node-config-input-developmentMode">
        <input type="checkbox" id="node-config-input-developmentMode" style="display: inline-block; width: auto; vertical-align: top; margin-right: 6px;">
        <label for="node-config-input-developmentMode" style="width: auto">Development mode</label>
    </div>
</script>

<script type="text/x-red" data-help-name="web-app">
    <p>The web-app node is the central configuration of your App. It defines everything that's global to the App like it's name, address and default layout.</p>
    <h3>Properties</h3>
    <dl class="message-properties">
      <dt>Name</dt>
      <dd> the App's name.</dd>
      <dt>Short name</dt>
      <dd> the App's short name. If the App gets installed as a PWA this is the name below the icon.</dd>
      <dt>Description</dt>
      <dd> the App's description. Used within the PWA manifest.</dd>
      <dt>Version</dt>
      <dd> the App's version. E.g. used to flush and update the client cache.</dd>
      <dt>Address</dt>
      <dd> on which network address the http(s)-server shall create the App.</dd>
      <dt>Port</dt>
      <dd> the port, the App will be available on.</dd>
      <dt>Enable TLS encryption</dt>
      <dd> if the connection shall be encrypted. If yes, a private key and certificate must be supplied.</dd>
      <dt class="optional">Private Key</dt>
      <dd> the path to private key used for enrypting the connection.</dd>
      <dt class="optional">Certificate</dt>
      <dd> the path to the certificate used for the encryption.</dd>
      <dt class="optional">Base Route</dt>
      <dd> the base route which will be prepended to all pages and contents served by this App. Default is <i>/</i></dd>
      <dt>Default timeout</dt>
      <dd> after what time a request ends in a <i>404 not found</i>.</dd>
      <dt>Session TTL</dt>
      <dd> the time before a client's session data is dismissed after disappearing.</dd>
      <dt>Layout</dt>
      <dd> the default layout of the App. Any page of the App that does not define another layout automatically uses this layout.</dd>
      <dt>Theme color</dt>
      <dd> the color that gets used to define the color of the title bar when installed as a PWA.</dd>
      <dt>Development mode</dt>
      <dd> when enabled, the code does not get minified and logging might be more verbose.</dd>
    </dl>
</script>